
on property:sys.boot_completed=1
    export TERM linux
    export TERMINFO /gearlock/share/terminfo
    export PATH /sbin:/bin:/system/bin:/system/xbin:/system/vendor/bin:/gearlock:/gearlock/bin:ghome_dir:/apex/com.android.runtime/bin:/apex/com.android.art/bin
    exec - root root -- /system/bin/logwrapper /gearlock/bin/bash /gearlock/gearboot s4
