-- I destroy my enemies when I make them my friends ... (Abraham Lincoln)
-- Light can not exist without the existence of darkness ... (AXON)
-- You may try to replicate someone, but you can never replicate what he is inside ... (AXON)
-- If fools could fly then the sun would go eclipse ... (Night)
-- Some people act like know-it-all, but deep down they know what they truely are ... (AXON)
-- As things get closer to the light, the shadows get darker ... (AXON)
-- There are more imposters than legit things, maybe that's what helps us define the good ... (AXON)
-- I don’t care that they stole my idea ... I care that they don’t have any of their own ... (Nikola Tesla)
-- Seek knowledge from cradle to the grave ... (Muhammad (PBUH))
-- You must be the change you wish to see in the world ... (Mahatma Gandhi)
-- Slow but Steady wins the race ... (Aesop)
-- When you have exhausted all possibilities remember this you haven't ... (Thomas Edison)
-- Happiness is when Gearlock runs without errors ... (Night)
-- Dumbass is't who with little knowledge but who never learns ... (Shadichy)
